<h1>{{title}}</h1><a href="pages/add" class="pull-right">Add Pages</a>
<div class="row">
<form>
<select name="page" class="form-control" onclick="this.form.submit">
	<option>Select Page</option>
	{{#each results}}
		<option value="{{this.slug}}">{{this.title}}</option>
	{{/each}}
</select>
</form>

<div>
				<form action="/pages/edit" method="post">
				    {{#each results}}
					<input type="hidden" name="id" value="{{this.id}}">
					<div class="form-group">
						<input type="text" name="title" value="" placeholder="Title" value="{{this.title}}" class="form-control">
					</div>
					<div class="form-group">
						<textarea name="description" value="" placeholder="Description"  class="form-control">{{this.description}}</textarea>
					</div>
					<div class="form-group">
						<textarea name="keywords" value="" placeholder="Keywords"  class="form-control">{{this.keywords}}</textarea>
					</div>
					<div class="form-group">
						<input type="submit" name="submit" value="Submit" class="btn btn-success ">
					</div>
					
					{{/each}}
				</form>

			</div>
</div>